<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= "#{APP_NAME}" %> | <%= "#{APP_DESC}" %></title>
    <link rel="stylesheet" href="/global.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <header class="app-header">
        <h1>
          <%= "#{APP_NAME}" %>
        </h1>
        <p>
          <%= "#{APP_DESC}" %>
        </p>
      </header><!-- .app-header -->
      <div class="app-content">
        <%= yield %>
      </div><!-- .app-content -->
    </div><!-- .container -->
  </body>
</html>
